<h4>value: <span class="badge badge-light">{{control?.value}}</span></h4>
<h4>touched: <span class="badge badge-light">{{control?.touched}}</span></h4>
<h4>dirty: <span class="badge badge-light">{{control?.dirty}}</span></h4>
<h4>status: <span class="badge badge-light">{{control?.status}}</span></h4>

<div class="mt-2">
  <button (click)="_setNewValue()" class="btn btn-primary mr-1">Set new value</button>
  <button (click)="_setDisabled()" class="btn btn-danger mr-1">Set disabled</button>
  <button (click)="_setEnabled()" class="btn btn-success">Set enabled</button>
</div>
